<style>
  @import url('https://fonts.googleapis.com/css?family=Monda&display=swap');
</style> 

<ion-header>
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="secondary">
      <ion-back-button defaultHref="/events"></ion-back-button>
    </ion-buttons>
  
    <ion-title>Detalles</ion-title>
    
    <ion-buttons slot="primary">
      <ion-button (click)="showActions()">
          <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <img src="https://www.wallpaperup.com/uploads/wallpapers/2016/06/09/980773/a3a1170249387ca3657121777aba7041-700.jpg" />
</ion-header>

<ion-content color="light">
  <div style="position:fixed; left:100px; top:100px;"></div>
    <ion-content padding>
      <ion-card-title>
        {{ event.title }}
      </ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="pin"></ion-icon>
        {{ event.place }}
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-icon name="calendar"></ion-icon>
        {{ event.date }}
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-icon name="contacts"></ion-icon>
        {{ event.artist }}
      </ion-card-subtitle>
      <p style="text-align: justify;">
        {{ event.description }}
      </p>
    </ion-content>
</ion-content>

<ion-footer mode="md">
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button (click)="launchFacebookPage()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
        <ion-button (click)="launchTwitterPage()">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-buttons slot="secondary">
          <ion-button (click)="launchMusicPage()">
            <ion-icon name="musical-notes"></ion-icon>
          </ion-button>
        </ion-buttons>

      <ion-buttons slot="secondary">
        <ion-button (click)="launchSoundCloudPage()">
          <ion-icon name="microphone"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="secondary">
        <ion-button (click)="launchBitePortPage()">
          <ion-icon name="headset"></ion-icon>
        </ion-button>
      </ion-buttons>

        <ion-buttons slot="secondary">
          <ion-button (click)="launchInstagramPage()">
            <ion-icon name="logo-instagram"></ion-icon>
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-footer>


